@import "../../assets/styles/sass/mixins";
@import "../../assets/styles/sass/variables";

.containerJobSearch {
  @include containerPage();
  height: 900px;
  display: flex;
  justify-content: center;

  .jobSearchItems {
    @include flex(center, flex-start);
    width: 1220px;
    margin-top: 40px;

    .itemFilter {
      width: 315px;
      height: 360px;
      margin-right: 30px;
      background: #FFFFFF;
      border: 1px solid #EAEBED;
      border-radius: 12px;
      padding: 20px;

      .headerFilter {
        @include flex(space-between, flex-start);
        margin-bottom: 32px;

        .titleItemFilter {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          color: $textColor;
        }

        .btnBlock {
          display: flex;
          justify-content: flex-end;

          .btnItemFilter {
            width: 85px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $textDisabledColor;
            border-radius: 8px;
          }
        }
      }

      .btnSendDataFilter {
        width: 270px;
        height: 40px;
        line-height: 21px;
      }
    }

    .contentJobSearch {
      width: 773px;
      height: 660px;

      .itemSearch {
        @include flex(space-between, center);
        width: 773px;
        height: 48px;
        padding-right: 12px;
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $textDisabledColor;

        .btnSearch {
          width: 83px;
          height: 32px;
          border-radius: 8px;
        }

      }

      .pagination {
        margin-top: 40px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .noSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 340px;
    height: 366px;
    margin-top: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    & img {
      width: 240px;
      height: 230px;
      margin-bottom: 32px;
    }

    .searchBack {
      @include styleBtn(164px, 42px, $textDisabledColor, $controlColor);
      margin: 32px 0;
    }
  }
}

@media (max-width: 960px) {
  .containerJobSearch{
    width: 340px;
    display: block;
    text-align: center;
    .jobSearchItems {
      display: block;
      width: 340px;
      margin:10px;

      .contentJobSearch {
        width: 340px;
        margin-top: 10px;
        .itemSearch {
          width: 320px;
        }

        .pagination {
          margin-top: 40px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}