@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.ttf") format('truetype');
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_slnt,wght.ttf") format('truetype');
}
@font-face {
  font-family: "InterRegular";
  src: url("./fonts/Inter-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "InterBold";
  src: url("./fonts/Inter-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "InterSemiBold";
  src: url("./fonts/Inter-SemiBold.ttf") format('truetype');
}

