@import "../../../assets/styles/sass/mixins";
@import "../../../assets/styles/sass/variables";


.itemVacancies {
  width: 773px;
  height: 137px;
  border-radius: 8px;
  margin: 12px 0 0 0;

  .headerVacancies {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 743px;
    margin-bottom: 12px;

    & a {
      text-decoration: none;
    }

    .titleVacancies {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $controlColor;

    }
  }

  .descriptionVacancies {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 773px;
    //margin-bottom: 12px;

    .salaryVacancies {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $textColor;
      margin-right: 12px;
    }

    .timeWorkVacancies {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $textColor;
      margin-left: 12px;
    }
  }

  .locationVacancies {
    display: flex;

    & img {
      width: 14px;
      height: 16px;
      color: $textDisabledColor;
      margin-right: 10px;
    }

    .placeLocation {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $textColor;

    }


  }


}
