@import "../../assets/styles/sass/mixins";
@import "../../assets/styles/sass/variables";

.containerVacancy {
  @include containerPage();
  min-height: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;


  .itemVacancies{
    width: 773px;
    height: 157px;
    border-radius: 8px;
    margin: 40px 0  20px 0;

    .headerVacancies{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 743px;
      margin-bottom: 12px;

      .titleVacancies{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: $textColor;

      }
    }

    .descriptionVacancies{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 773px;

      .salaryVacancies{
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: $textColor;
        margin-right: 12px;
      }

      .timeWorkVacancies{
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: $textColor;
        margin-left: 12px;
      }
    }

    .locationVacancies{
      display: flex;
      & img{
        width: 14px;
        height: 16px;
        color:$textDisabledColor;
        margin-right: 10px;
      }
      .placeLocation{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $textColor;

      }


    }




  }

  .descriptions{
    width: 773px;
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $textColor;

      & b{
        font-weight: 700;
        line-height: 20px;
      }



  }

}


@media (max-width: 960px) {
  .containerVacancy {
    @include containerPage();
    width: 340px;
    min-height: 90vh;

    .itemVacancies{
      width: 330px;
      height: 110px;
      margin: 10px ;

      .headerVacancies{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 310px;
        margin-bottom: 5px;

        .titleVacancies{
          font-size: 16px;
          line-height: 16px;
        }
      }

      .descriptionVacancies{
        width: 330px;

        .salaryVacancies,.timeWorkVacancies{
          font-size: 12px;
          line-height: 12px;
          margin: 5px;
        }
      }

    }

    .descriptions{
      width: 330px;
      font-size: 12px;
      line-height: 18px;

    }
  }
}


