@import "../../assets/styles/sass/mixins";
@import "../../assets/styles/sass/variables";

.containerHeader {
  width: 1440px;
  height: 84px;
  margin: 5px 0 -5px 0;
  padding: 0;
  box-sizing: border-box;

  .box {
    display: flex;
    height: 100%;
    justify-content: start;
    align-items: center;
    background: $headerColor;
    border-radius: 5px 5px 0 0;
    @include Poppins();
    //font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: $textColor;



    .logo{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 128px;
      height: 36px;
      padding: 0 300px 0 160px;
    }

    .itemMenuLink{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 280px;

      a.itemMenu{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $textColor;
        text-decoration: none;
        //margin-right: 60px;


        &:hover {
          color: $controlColor;
          text-decoration: underline;
        }
      }
      a.activeLink{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        align-items: center;
        color: $controlColor;
        //margin-right: 60px;
        text-decoration: none;
      }

    }




  }
}