@import "../../assets/styles/sass/mixins";
@import "../../assets/styles/sass/variables";

.page404{
  @include flex(center, flex-start);
  flex-wrap: wrap;
  width: 340px;
  height: 366px;
  margin-top: 120px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  .searchBack{
    @include styleBtn(164px,42px,$pagesColor, $controlColor);
    margin: 32px 0 ;
  }
}